https://github.com/thiagopena/geraldo/archive/master.zip
https://github.com/thiagopena/PySIGNFe/archive/master.zip
asgiref==3.2.3
asn1crypto==1.2.0
certifi==2019.11.28
cffi==1.13.2
cryptography==2.8
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.0
django-heroku==0.3.1
eight==0.4.2
future==0.16.0
gunicorn==20.0.4
lxml==4.6.2
Pillow==6.2.1
psycopg2==2.8.4
pycparser==2.19
pyOpenSSL==17.5.0
python-decouple==3.1
pytz==2018.3
reportlab==3.4.0
signxml==2.5.2
six==1.11.0
sqlparse==0.3.0
whitenoise==5.0.1